
/* Breadcrumb */
.breadcrumbs-container{
    width:100%;
    
    @media screen and (max-width: $mobile-screen) {
        flex-wrap: wrap;
    }
    .breadcrumbs-list{
        margin-bottom: 0;
        font-size: 14px;
        line-height: normal;
        margin-bottom: 12px;
        padding: 0;
        span{
            display: flex;
            align-items: center;
            color: $grey2;
            &.material-icons{
                font-size: 17px;
                width: 17px;
                height: 17px;
                color: $grey2;
            }
            a{
                color: $grey2;
            }
        }
    }
    a, span{
        font-size: $small-text-font-size;
        line-height: inherit;
    }
    .advertiser-disclosure-link{
        &:hover{
            text-decoration: underline;
            opacity: 0.8;
        }
    }

}
